name: Run Script and Update Files

on:
  schedule:
#    - cron: '0 * * * *' # Runs at the start of every hour
#      - cron: '*/10 * * * *' # Runs every 10 minutes
#   - cron: 0 7-21 * * * # Run from 7am to 9pm 
- cron: 0 8-20/2 * * * # run every two hours from 8am to 10pm



permissions:
  contents: write

jobs:
  update-json-files:
    runs-on: ubuntu-latest
    env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        PAT: ${{ secrets.PAT }}
        GUARDIAN_API_KEY: ${{ secrets.GUARDIAN_API_KEY }} 

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x' # Ensure this matches your Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install openai
        pip install requests


    - name: Run Script
      run: |
        python script.py
        
    - name: Commit and Push Changes
      run: |
        git config --global user.name 'TomWhitwell'
        git config --global user.email 'tom.whitwell@gmail.com'
        git add response.json archive.json response_news.json archive_news.json num.txt
        git commit -m "Update response and archive"
        git remote set-url origin https://x-access-token:${{ secrets.PAT }}@github.com/TomWhitwell/dad_poems.git
        git remote --verbose
        git push

